* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: lightslategray;

}
nav{
    height: 4rem;
} 

h1{
    display: inline;
}

header {
    padding: 0 1rem;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);

}

a{
    text-decoration: none;
    display: inline;
    color: black;

}

ul li {
    list-style-type: none;
    border: 1px solid red;
    display: inline;
    padding: .8rem;
}



.flex{
    display: flex;
    border: 1px solid red;
}

.flex_centered {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.flex_bet {
    justify-content: space-between;
    align-items: center;
}

.p_absolute {
    position: absolute;
}

.p_relative {
    position: relative;
}



.hero {
    /* height: calc(100vh - 4rem); */
    margin-top: 4rem;
    background-color: violet;
    width: 100%;
}
   
.grid{
    max-width: 1200px;
    margin: 0 auto;
}


.col_30{
    width: 30%;
    padding: 5%;
    
}

.col_70{
    width: 70%;
    padding: 5%;
    border: 1px solid red;
    
}

/* .col_70 img {
    width: 400px;
    border: 1px solid rgb(17, 10, 10);


} */
